{% extends "base.html" %}
{% load static %}
{% block bodyblock %}

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="container h-75">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
    <h2>Questions added here</h2>
    <form action = "" method = "POST">
        {% csrf_token %}
        {{form.as_p }}
        <input type="submit" value=Submit">
    </form>
</div>
</div>
</div>

{% endblock %}