{% extends "base.html" %}
{% load static %}
{% block bodyblock %}
<br>
<div class="text-center"> <h3 >Login</h3>
   Don't have a account? <a href = "{% url 'register-view' %}">register</a></div>
<div class="container h-75">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">

 <form  action = '/login/' method="POST">
        {% csrf_token %}
        <div class="form-group">
        <label for="login_username">Username</label>        
        <input type = "text" class="form-control" name="login_username" placeholder = "Enter Username" requierd id="login_username">
        </div>

        <div class="form-group">
        <label for="login_password">Password</label>
        <input type = "password" class="form-control" name = "login_password" placeholder = "Enter Password" required id = "login_password">
        </div>
<!-- 
        <ul>
            {% for error in form.password.errors %}
                <li>{{ error }}</li>    
            {% endfor %}
        </ul> -->
        <button type = "submit" class="btn btn-primary" >Submit</button>

        <!-- {{form.as_p}}
        <button type = "submit" class="btn btn-primary" >Submit</button> -->
    </form>

</div>
</div>
</div>
    
  
{% endblock %}